<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UserDatabase"
			 connectionString="Data Source=PhuongNam;Initial Catalog=QLTK;User ID=TaiKhoan;Password=123456;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
